#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
}

.location {
  margin: 10px 0;
  color: #901c1c;
}

.portrait img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #d3573c;
  color: rgb(0, 0, 0);
}

.contact_button:focus {
  background-color: #d3573c;
  color: rgb(0, 0, 0);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

.formData {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.mediaSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin: 60px 100px 100px;
}

.filter-form-wrapper {
  display: flex;
  margin: 0 100px;
}

.photograph-art img {
  width: 100%;
  object-fit: cover;
  max-height: 220px;
  /* object-position: top; */
}

.media-description {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  margin-top: -5px;
}

.media-description h2 {
  font-weight: normal;
}

.likes {
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.fa-regular:hover,
.fa-regular:active,
.fa-regular:focus {
  transition: all 0.5s ease-out;
  background: linear-gradient(to left, #901c1c, #d3573c);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.wished .fa-heart {
  background: linear-gradient(to left, #901c1c, #d3573c);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.likes span {
  margin: 0.2em;
}

.infos {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background-color: #d3573c;
  margin-right: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  padding: 15px 25px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.player-modal {
  display: none;
  z-index: 1;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.player-modal-on {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-wrapper {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 15px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.player img,
video {
  max-width: 800px;
  max-height: 600px;
  object-fit: contain;
  box-shadow: 5px 1px 10px #525252;
  border-radius: 5px;
  margin: 15px;
}

.player button {
  background-color: #fafafa;
  border: none;
  color: #901c1c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

.media-title {
  color: #901c1c;
  margin: 10px 0 0 80px;
}

.media-title span {
  font-size: 17px;
}

.dropbtn {
  background-color: #901c1c;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #901c1c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #901c1c;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* .dropdown-content a:hover {
  background-color: #ddd;
} */

.show {
  display: flex;
  flex-direction: column;
}

.dropdown-option {
  background-color: #901c1c;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 3px;
  font-size: 18px;
}

.dropdown-menu-right {
  top: 0;
  right: 0;
}
